header {
	background-image: url(BRESheader.png);
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	text-align: center;
	color: white;
}
body {
	text-align: center;
}
p { color: #cc0606; }
nav ul {
	float: left;
	list-style-type: none;
}
nav a { text-decoration: none; }

caption { font-weight: bold; }

table { margin: auto;
	border: 5px solid black; }
td, th {
	border: 1px solid;
	padding: 1em;
}
#logo {
	float: left;
	margin: 20px 0 0 10px;
}
#enotice {
	float: left;
	width: 50%;
	color: #cc0606;
}
#snotice {	
	float: right;
	width: 50%;
	color: #cc0606;
}

